<% content_for :page_title do %>
  <nav>
    <ol class="breadcrumb admin">
      <li class="breadcrumb-item active">
      <%= icon('fa-solid', 'user')%>
      <%= link_to t('users.list'), users_url%>
      </li>
    </ol>
  </nav>
<% end %>
<div id="users">
  <table class="table">
    <thead>
      <th> <%= t('user.email') %> </th>
      <th> <%= t('user.active_accounts') %> </th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td> <%= link_to user.email, user %> </td>
          <td> <%= user.active_accounts.count %> </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<%= link_to "New user", new_user_path %>
