<% content_for :page_title do %>
  <nav>
    <ol class="breadcrumb admin">
      <li class="breadcrumb-item active">
      <%= icon('fa-solid', 'user')%>
      <%= link_to t('users.list'), users_url%>
      </li>
    </ol>
    <% content_for :page_actions do %>
      <%= link_to new_user_path, class: "btn btn-success", id: 'new_user_link' do %>
        <%= icon('fa-solid', 'plus')%>
        <span> <%= t('users.new') %> </span>
      <% end %>
    <% end if UserPolicy.new(current_user,User).create? %>
  </nav>
<% end %>
<%= render 'filter_table' %>

<div id="users">
  <table class="table">
    <thead>
      <th> <%= t('users.email') %> </th>
      <th> <%= t('users.active_accounts') %> </th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td> <%= link_to user.email, user %> </td>
          <td> <%= user.active_accounts.count %> </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
