<div class="row">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <%= f.label :customer %>
      <%= f.text_field :customer, class: 'form-control' %>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <%= f.label :manager %>
      <%= f.text_field :manager, class: 'form-control' %>
    </div>
  </div>

</div>

  <%= button_tag(type: 'button', class: 'add_fields btn btn-success', 'data-target': 'tbody#team_users', 'data-controller': 'fields') do %> 
   <%= icon('fa-solid', 'plus')%>
   <span> <%= t('add_user') %> </span>
  <%end%>

  <%= f.fields_for :team do |team_form| %>
    <%= team_form.hidden_field :id %>
    <table class="table">
      <tbody id="team_users">
        <%= team_form.fields_for :team_users do |team_user_form| %>
          <tr class="row">
            <%= team_user_form.hidden_field :id %>
            <td class="col-8 col-md-4">
              <div class="form-group">
                <%= team_user_form.label :user_id %>
                <%= team_user_form.select :user_id, 
                                    User.all.collect { |x| [x.email, x.id]}, 
                                    {include_blank: 'Select User'}, 'data-controller': 'select', class: 'form-control select2' %>
              </div>
            </td>
            <td class="col-8 col-md-4">
              <div class="form-group">
                <%= team_user_form.label :start_date %>
                <%= team_user_form.date_field :start_date, class: 'form-control' %>
              </div>
            </td>
            <td class="col-7 col-md-3">
              <div class="form-group">
                <%= team_user_form.label :end_date %>
                <%= team_user_form.date_field :end_date, class: 'form-control' %>
              </div>
            </td>
            <td class="col-1 col-md-1 d-sm-flex align-items-sm-center justify-content-sm-between">
              <%= icon('fa-solid', 'trash')%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
